apiVersion: apps/v1
kind: Deployment
metadata:
  name: phemex-fh
  labels:
    app: phemex-fh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phemex-fh
  template:
    metadata:
      labels:
        app: phemex-fh
    spec:
      containers:
        - name: phemex-fh
          image: cloudwallcapital/serenity:2020.04.19-b9
          command: ["python"]
          args: ["serenity/fh/phemex_fh.py"]
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-secret-config
                  key: password
          volumeMounts:
            - mountPath: /behemoth
              name: behemoth 
      volumes:
        - name: behemoth
          persistentVolumeClaim:
            claimName: behemoth-pv-claim
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: phemex-md-upload
spec:
  schedule: "0 15 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: phemex-md-upload
            image: cloudwallcapital/serenity:2020.04.19-b9
            args: ["serenity/mdrecorder/phemex_upload.py"]
            env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-secret-config
                  key: password
          restartPolicy: OnFailure
